.acoes {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
}

th {
  text-align: center;
  vertical-align: center;
}

td {
  vertical-align: center;
}

.estoqueZero {
  color: red;
  font-weight: 500;
  border: 1.2px solid red;
}

.inputFocus {
  cursor: pointer;
}

td {
  cursor: pointer;
}

.itensPorPagina {
  font-size: 0.8em;
}
