.boxCEP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.inputCep{
    width: 110px;
    margin-right: 5px;
}

@media screen and (max-width:600px) {

    .boxCEP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    label{
        font-size: .8em;
    }
    .inputCep{
        width: 90px;
        font-size: .8em;
        margin-bottom: 3px;
        
    }

    .buttonCep{
        font-size: .7em;
        width: 100%;
    }
}